@import'Tarjetas/fraccion';


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
body{
    height: 100vh;
    // max-width: 172vh;

    .Panel{
        height: 100vh;

        display: flex;
        justify-content: center;

        position: relative;
        top: 220px;


    }
    i{
        color: $W;
        font-size: 30px;
    }


    .Panel-Simplificacion{
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 300px;

    }
}
