@import'Tarjetas/fraccion';


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
body{
    height: 120vh;
    // max-width: 172vh;

    .Panel{
        position: relative;
        // top: 60px;
        // left: 300px;

        width: 100%;
        height: 100%;

    }
}
