.menu{
    background: $W;
    height: 100vh;
    width: 300px;
    // display: block;
    position: fixed;
    top: 60px;
    z-index: 1;
    box-shadow: 2px 0px 4px #B9B9B9;
    user-select: none;

    display: flex;
    align-items: center;
    flex-direction: column;

    .title{
        margin: 20px 0px;
        font-size: x-large;
        font-weight: center;
    }
    .line{
        width: 100%;
        height: 3px;
        background: $Gr;
    }

    .DropMenu{
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        
        .BtnMenu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 20px;
            
            span{
                display: flex;
                justify-content: space-between;
                font-size: large;
                font-weight: 900;

            }
            // Icon close
            .Icon{
                transition: 0.2s ease all;
            }
            // .IconDown{
            //     transition: 0.2s ease all;
            //     transform: rotate(-90deg);
            // }
        }
        // Icon open
        .Open .Icon{
            transition: 0.2s ease all;
            transform: rotate(-90deg);
        }
        // Hover menu
        .BtnMenu:hover{
            background: $Gr;
        }

        // Estilos del contenido del menu cerrado
        .DropContent-close{
            display: none;
            flex-direction: column;

            span{
                padding: 8px 30px;
                width: 270;
            }
        }
        // Estilos del contenido del menu abierto
        .DropContent-open{
            display: flex;
            flex-direction: column;
            height: 0px;
            overflow: hidden;

            span{
                padding: 8px 30px;
                width: 270;
            }
        }

    }
}