menu{
    // background: aquamarine;

    width: 750px;
    height: 300px;
    margin: 0px 10px;

    .DropMenu{
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        
        .BtnMenu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 20px;
            border-radius: 10px;
            cursor: pointer;
            // margin: 0px 0px 10px 0px;

            color: $W;
            background: $Red;
            
            span{
                display: flex;
                justify-content: space-between;
                font-size: large;
                font-weight: 900;

            }
            // Icon close
            .Icon{
                transition: 0.2s ease all;
            }
            // .IconDown{
            //     transition: 0.2s ease all;
            //     transform: rotate(-90deg);
            // }
        }
        // Icon open
        .Open .Icon{
            transition: 0.2s ease all;
            transform: rotate(-90deg);
        }
        // Hover menu
        .BtnMenu:hover{
            background: $Red;
        }

        // Estilos del contenido del menu cerrado
        .DropContent-close{
            display: none;
            flex-direction: column;
        }
        // Estilos del contenido del menu abierto
        .DropContent-open{
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 0px;
            overflow: hidden;
            // background: $W;
            border-radius: 10px;
            margin: 5px 0px;

            a{
                text-decoration: none;
                color: black;
                padding: 8px 30px;
                width: 85%;
                background: $W;
                text-align: center;
                margin: 5px 0px;
                border-radius: 10px;
                cursor: pointer;
            }

            a:Hover{
                background: $Gr;
            }
        }

    }
}
