@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Roboto+Mono:wght@300;400;500;600;700&display=swap");
nav {
  background: #E03131;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
  font-size: xx-large;
  position: fixed;
  z-index: 2;
  box-shadow: 0px 3px 2px #adb5bd;
}

menu {
  width: 750px;
  height: 300px;
  margin: 10px 10px;
  position: relative;
  top: 130px;
}
menu .DropMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
menu .DropMenu .BtnMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #F8F9FA;
  background: #E03131;
}
menu .DropMenu .BtnMenu span {
  display: flex;
  justify-content: space-between;
  font-size: large;
  font-weight: 900;
}
menu .DropMenu .BtnMenu .Icon {
  transition: 0.2s ease all;
}
menu .DropMenu .Open .Icon {
  transition: 0.2s ease all;
  transform: rotate(-90deg);
}
menu .DropMenu .BtnMenu:hover {
  background: #f03e3e;
}
menu .DropMenu .DropContent-close {
  display: none;
  flex-direction: column;
}
menu .DropMenu .DropContent-open {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 0px;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px 0px;
}
menu .DropMenu .DropContent-open a {
  text-decoration: none;
  color: #212529;
  padding: 8px 30px;
  width: 85%;
  background: #ced4da;
  text-align: center;
  margin: 5px 0px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease all;
  box-shadow: 0px 0px 0px 0px #adb5bd;
}
menu .DropMenu .DropContent-open a:Hover {
  background: #adb5bd;
  box-shadow: 0px 2px 18px -3px #adb5bd;
  transition: 0.2s ease all;
}

.Tarjeta {
  width: 600px;
  background: #E9ECEF;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px #B9B9B9;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Tarjeta .Tarjeta-title {
  font-weight: bolder;
  margin: 10px 0px;
}
.Tarjeta .PanelOperacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Tarjeta .PanelOperacion .PartesFraccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Tarjeta .PanelOperacion .PartesFraccion span {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 0px 20px;
  font-weight: bolder;
  font-style: italic;
}
.Tarjeta .PanelOperacion .FraccionLine {
  height: 2px;
  width: 100%;
  background: black;
}
.Tarjeta .PanelOperacion .Fraccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Tarjeta .PanelOperacion .Fraccion .DivInput {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Tarjeta .PanelOperacion .Fraccion .DivInput input {
  height: 40px;
  margin: 10px 0px;
  border: 0;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px #f03e3e;
  transition: 0.2s ease all;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  width: 100px;
}
.Tarjeta .PanelOperacion .Fraccion .DivInput input:focus {
  box-shadow: 0px 0px 2px 4px #f03e3e;
  transition: 0.2s ease all;
}
.Tarjeta .PanelOperacion .Fraccion .DivInput i {
  margin: 0px 0px 0px 10px;
  width: 5px;
  position: relative;
}
.Tarjeta .PanelOperacion .SignoIqual {
  font-weight: bolder;
  font-size: xx-large;
  display: flex;
  text-align: center;
  margin: 0px 30px;
}
.Tarjeta .PanelOperacion .FraccionResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Tarjeta .PanelOperacion .FraccionResult .NumeradorResult, .Tarjeta .PanelOperacion .FraccionResult .DenominadorResult {
  height: 40px;
  margin: 10px 0px;
  border-radius: 10px;
  transition: 0.2s ease all;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  width: 100px;
  background: #dee2e6;
  user-select: none;
}
.Tarjeta .DivAlert {
  display: none;
  width: 100%;
  margin: 10px 0px;
}
.Tarjeta .DivAlert i {
  margin: 0px 5px;
  font-size: 18px;
  color: black;
}
.Tarjeta .DivAlert .Alert {
  width: 100%;
  margin: 0px 5px;
  padding: 5px;
  background: #E8CA4C;
  border-radius: 10px;
  font-size: small;
  font-weight: bolder;
}
.Tarjeta .DetallesOperacion {
  height: 100%;
  width: 100%;
  background: #adb5bd;
  border-radius: 10px 10px 0px 0px;
  display: none;
  flex-direction: row;
  overflow: hidden;
}
.Tarjeta .DetallesOperacion .PartesFraccionDetalles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  border-right: solid 2px black;
  min-width: 126px;
}
.Tarjeta .DetallesOperacion .PartesFraccionDetalles span {
  font-weight: bold;
  margin: 5px;
}
.Tarjeta .DetallesOperacion .DetallesFraccionResult {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.Tarjeta .DetallesOperacion .DetallesFraccionResult .Fracciones {
  display: flex;
  flex-direction: row;
}
.Tarjeta .DetallesOperacion .DetallesFraccionResult .Fracciones .DetallesFraccion {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
.Tarjeta .DetallesOperacion .DetallesFraccionResult .Fracciones .DetallesFraccion .DetallesNumerador, .Tarjeta .DetallesOperacion .DetallesFraccionResult .Fracciones .DetallesFraccion .DetallesDenominador {
  width: 50px;
  height: 22px;
  background: #FFFFFF;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}
.Tarjeta .DetallesOperacion .DetallesFraccionResult .Fracciones .DetallesFraccion .Line {
  width: 100%;
  height: 2px;
  background: black;
}
.Tarjeta .DetallesOperacion .DetallesFraccionResult .Fracciones .DetallesFraccion span {
  text-align: center;
  font-weight: bolder;
  margin: 5px 0px;
}
.Tarjeta button {
  background: #E03131;
  width: 100%;
  border: 0px;
  border-radius: 0px 0px 10px 10px;
  height: 28px;
  font-weight: bolder;
}
.Tarjeta button:hover {
  background: #f03e3e;
  cursor: pointer;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Mono", monospace;
  color: #212529;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #F8F9FA;
}
body .Panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 70px;
}
body i {
  color: #F8F9FA;
  font-size: 30px;
}
body .Panel-Simplificacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 70px;
}
body .LocationBar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  height: 50px;
  min-width: 150px;
  border-radius: 10px;
  margin: 10px;
  background-color: #dee2e6;
  box-shadow: 0px 3px 2px #adb5bd;
}
body .LocationBar .linkOn {
  background-color: #E03131;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0px 10px 0px 5px;
}
body .LocationBar i {
  color: #212529;
  margin: 0px 10px;
  font-size: 20px;
}
body .LocationBar .linkOff {
  text-decoration: none;
  color: #212529;
  background-color: #F8F9FA;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0px 5px 0px 10px;
  transition: 0.2s ease all;
}
body .LocationBar .linkOff:hover {
  transition: 0.2s ease all;
  cursor: pointer;
  background-color: #E03131;
}

/*# sourceMappingURL=index.css.map */
