// Roboto Mono
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
// Fredoka
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
$Red: #E02342;
$W: #E5E5E5;
$Gr: #B9B9B9;
$YW: #E8CA4C;

// Shadow
$RS: #f14242;